<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Añadir Trabajo</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
</head>
<body>
	<div class="container row p-5 d-flex justify-content-center">
		<div class="col-8">
			<h4 class="modal-title" id="exampleModalLabel">Nuevo Trabajo</h4>


			<form action="#" th:action="@{/addTrabajo}" th:object="${trabajo}"
				method="post">
				<div class="modal-body">
					<div class="form-row">
						<div class="form-group col-md-12">
							<label for="Titulo">Titulo</label> <input type="text"
								th:field="*{titulo}" placeholder="inserta un Titulo"
								class="form-control" id="Titulo">
						</div>
						<div class="form-group col-md-12">
							<label for="Descripcion">Descripcion</label> <textarea
								th:field="*{descripcion}" placeholder="inserta una Descripcion"
								class="form-control" id="Descripcion"></textarea>
						</div>
						<div class="form-group col-md-12">
							<label for="Sucesos">Sucesos</label> <input type="text"
								th:field="*{sucesos}" placeholder="inserta un Sucesos"
								class="form-control" id="Sucesos">
						</div>
						<div class="form-group col-md-12">
							<label for="Vehiculo">Vehiculo</label> <input type="text"
								 th:value="${vehiculo.matricula}" name="Vehiculo"  readonly="readonly"
								class="form-control" id="Vehiculo" >
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a type="button"
						class="btn btn-danger" th:href="@{/elegirVehiculo}">Cancelar</a>
					<input type="submit" value="Añadir"
						class="btn btn-primary float-right">
					
				</div>
			</form>
		</div>
	</div>

</body>
</html>