<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Una web preciosa y maravillosa">
<meta name="author" content="Jose Ramon Rojo Fernadez">

<title>Inicio</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link text-danger" th:href="@{/vehiculos}">Vehiculos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" th:href="@{/clientes}">Clientes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-primary" th:href="@{/trabajos}">Trabajos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-info" th:href="@{/modelos}">Reprogramaciones</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-warning" th:href="@{/marcas}">Marcas</a>
    </li>
  </ul>

</nav>
<div class="d-flex justify-content-center">
<img th:src="@{imagenes/logoFondo.jpg}" class="w-75 p-3 h-75"/>



</div>

</body>
</html>