<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Una web preciosa y maravillosa">
<meta name="author" content="Jose Ramon Rojo Fernadez">

<title>Modelos</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
<!-- Estilos cabecera -->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
	integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
	crossorigin="anonymous" />
<link
	href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap"
	rel="stylesheet">
</head>
<body id="page-top">


	<!-- Header -->
	<header class="masthead">
		<div class="container-fluid">
			<div class="row d-flex justify-content-center">
				<div class="col-12">
					<nav
						class="navbar navbar-expand-lg navbar-mainbg bg-dark text-primary">
						<a class="navbar-brand navbar-logo" th:href="@{/inicio}"><img
							th:src="@{imagenes/logoFondo.jpg}" width="100px" height="25%"
							class="d-inline-block align-top" alt=""></a>
						<button class="navbar-toggler" type="button"
							data-toggle="collapse" data-target="#navbarSupportedContent"
							aria-controls="navbarSupportedContent" aria-expanded="false"
							aria-label="Toggle navigation">
							<i class="fas fa-bars text-white"></i>
						</button>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav ml-auto mr-1">
								<div class="hori-selector">
									<div class="left"></div>
									<div class="right"></div>
								</div>
								<li class="nav-item"><a class="nav-link"
									th:href="@{/vehiculos}"><i class="fas fa-tachometer-alt"></i>Vehículos</a>
								</li>
								<li class="nav-item"><a class="nav-link"
									th:href="@{/clientes}"><i class="far fa-address-book"></i>Clientes</a></li>
								<li class="nav-item"><a class="nav-link"
									th:href="@{/trabajos}"><i class="far fa-clone"></i>Trabajos</a></li>
								<li class="nav-item"><a class="nav-link"
									th:href="@{/modelos}"><i class="far fa-calendar-alt"></i>Modelos</a></li>
								<li class="nav-item"><a class="nav-link"
									th:href="@{/marcas}"><i class="far fa-chart-bar"></i>Marcas</a></li>
								<li class="nav-item dropdown"><a
									class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
									data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false"><span sec:authentication="name">Bob</span></a>
									<div class="dropdown-menu dropdown-primary"
										aria-labelledby="navbarDropdownMenuLink">
								
										<span th:remove="tag"
											th:if=" (${#authorization.expression('hasAnyAuthority(''ADMIN'')')})">
											<a class="dropdown-item text-primary" th:href="@{/usuarios}">usuarios</a>
										</span>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item text-danger" th:href="@{/logout}">cerrar
											sesion</a>
									</div></li>
							</ul>
						</div>
					</nav>
				</div>
				<div class="col-12">
					<div class="mb-5">
						<!--  mis datos -->
						<div th:switch="${#lists.isEmpty(listaModelos)}">
							<div id="noHayNadie" th:case="true">
								<p>No hay clientes en la base de datos</p>
							</div>
							<div id="hayMensajes" th:case="false"
								class="table-responsive text-nowrap">

								<table class="table table-hover table-sm ">
									<tr class="thead-dark">
										<th class="p-2">ID</th>
										<th class="p-2">Marca</th>
										<th class="p-2">Nombre</th>
										<th class="p-2">Combustible</th>
										<th class="p-2">CV</th>
										<th class="p-2">NM</th>
										<th class="p-2">Extras</th>
										<th class="p-2">reprogramacion</th>
										<th class="p-2">Eliminar</th>
										<th class="p-2">Editar</th>
									</tr>
									<tr th:each="modelo: ${listaModelos}">
										<td class="p-2" th:text="${modelo.id}"></td>
										<td class="p-2" th:text="${modelo.marca.nombre}"></td>
										<td class="p-2" th:text="${modelo.nombre}"></td>
										<td class="p-2" th:text="${modelo.combustible}"></td>
										<td class="p-2" th:text="${modelo.CV}"></td>
										<td class="p-2" th:text="${modelo.NM}"></td>
										<td class="p-2" th:text="${modelo.extras}"></td>
										<td class="p-2"><a type="button"
											class="btn btn-primary btn-sm"
											th:href="@{/modelos/reprogramacion/{id}(id=${modelo.id})}">reprogramacion</a></td>

										<td class="p-2"><span th:remove="tag"
											th:if=" (${#authorization.expression('hasAnyAuthority(''ADMIN'')')})"><a
												type="button" class="btn btn-danger btn-sm"
												data-toggle="modal"
												th:attr="data-target='#modal-warning'+${modelo.id}">Eliminar</a></span>
										</td>
										<td class="p-2"><span th:remove="tag"
											th:if=" (${#authorization.expression('hasAnyAuthority(''ADMIN'')')})"><a
												type="button" class="btn btn-info btn-sm"
												th:href="@{/modelos/editar/{id}(id=${modelo.id})}">Editar</a></span></td>

										<div class="modal modal-warning fade in"
											th:id="modal-warning+${modelo.id}">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal"
															aria-label="Close">
															<span aria-hidden="true">×</span>
														</button>
														<h5 class="modal-title">Borrar modelo</h5>
													</div>
													<div class="modal-body">
														<h3>Estas seguro que quieres borrarlo?</h3>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-outline pull-left"
															data-dismiss="modal">No</button>
														<a type="button" class="btn btn-outline"
															th:href="@{/modelos/delete/{id}(id=${modelo.id})}"><i
															class="fa fa-check"></i>&nbsp;Si</a>
													</div>
												</div>
											</div>
										</div>
									</tr>
								</table>
							</div>
						</div>
					</div>

					<!--  fin de mis datos -->

				</div>
				<div class="col-12">
					<div class="d-flex justify-content-end mt-2">
						<span th:remove="tag"
							th:if=" (${#authorization.expression('hasAnyAuthority(''ADMIN'')')})">
							<a type="button" class="btn btn-primary"
							th:href="@{/modelos/add}">Nuevo Modelo</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</header>

</body>
</html>